			body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {margin:0;padding:0;border:0;list-style: none;}
			body{background:aliceblue;}
			header{width: 100%;height: 40px;background:#F0F8FF;z-index: 999;}
			.con{height: 40px;margin: 0 auto;margin-right: 50px;}
			.right1{margin-top: 10px;float: right;}
			header a{margin-right: 10px;}
			
			nav{width:102%;margin-left:7.8%;margin-right: 7.8%;}
			nav ul{height:0px;list-style: none;}
			nav	li{padding:10px;width:15%;display: inline-block;float: left;background-color:#f2f2f2;text-align: center;}
			nav	li a{display: inline-block;float: left;color: #fff;text-indent: 10px;text-decoration:none;}
			
			.imgBox{width: 80%;height: 800px;margin: 0 auto;border-top: 2px solid cadetblue;}
			.imgBox img{width: 100%;height: 650px;border:outset 1px #6495ED;margin: 0 auto;padding-top: 30px;}
			.img1{display: block;}
			.img2{display: none;}
			.img3{display: none;}
			.img4{display: none;}
			.img5{display: none;}
			
			h1{width:300px;height: 50px;border: inset 2px powderblue;text-align: center;border-radius:50px;margin-top:100px auto 0;box-sizing: border-box;}
			.box1{width: 80%;height: 530px;border: solid 1px lightblue;margin-left: 10%;}
			div.box1 ul{margin: 70px auto 0;width: 960px;}
			div.box1 ul li{width: 266px;height: 250px;border: 1px solid #ccc;background:url(img/aoyun1.jpg);background-size: 266px 250px;float: left;margin-right: 8%;margin-bottom:40px;position: relative;overflow: hidden;}
			div.box1 ul li:nth-child(2){background-image: url(img/素材-624913232.jpg);}
			div.box1 ul li:nth-child(3){margin-right: 0;background-image: url(img/素材-2118528176.jpg);}
			div.box1 ul li hgroup{position: absolute;left: 0;top: -250px;width: 266px;height: 250px;background: rgba(0,0,0,0.5);transition: all 0.5s ease-in 0s;}
			div.box1 ul li:hover hgroup{position: absolute;left: 0;top: 0;}
			div.box1 ul li hgroup h2:nth-child(1){font-size: 22px;text-align: center;color: #fff;font-weight: normal;margin-top: 58px;}
			div.box1 ul li hgroup h2:nth-child(2){font-size:14px;text-align: center;	color: #fff;font-weight: normal;margin-top: 58px;}
			.box2{width: 80%;height: 530px;border: solid 1px lightblue;margin-left: 10%;}
			.box2 ul{
				margin:70px auto 0;
				width: 960px;
			}
			.box2 ul li{
				width:291px;
				height:251px;
				float: left;
				margin-right:4%;
				margin-bottom: 40px;
				position: relative;
				-webkit-perspective:230px;	
				background-size: 266px 250px;
				
			}
			.box2 ul li:last-child{
				margin-right: 0;
			}
			.box2 ul li img{
				width: 266px;height: 250px;
				position: absolute;
				left:0;
				top:0;
				-webkit-backface-visibility:hidden;
				transition:all 0.5s ease-in 0s;
			}
			.box ul li img.fan{
			 	-webkit-transform:rotateX(-180deg);
			 }
			.box2 ul li:hover img.fan{
			 	-webkit-transform:rotateX(0deg);
			 }
			 .box2 ul li:hover img.zheng{
			 	-webkit-transform:rotateX(180deg);
			 } 
			
			
			
			
			
			
			
			
			
			
			footer{width: 100%;height: 400px;background:lightblue;border-bottom: 1px solid #fff;}
			.logo{width:50px;}
			.message{width: 1000px;margin: 20px auto 0;color:#fffada;}
			.left{width: 525px;float: left;padding-left:30px ;box-sizing: border-box;}
			footer li{float: left;margin-right: 30px;}
			footer li input{width: 215px;height: 32px;border-radius: 5px;margin: 10px 0 15px 0;padding-left: 10px;box-sizing: border-box;border: none;}
			footer li:last-child input{width: 120px;height: 39px;padding-left: 0;border:none;background: url(../img/but.jpg) no-repeat;}
			.right{float: left;}
			footer p{margin-bottom: 10px;}
			footer textarea{width: 400px;height: 172px;padding: 10px;box-sizing: border-box;resize: none;}
			.banquan{width: 100%;height: 60px;background: #333333;text-align: center;}
			
<script> 
    	window.onload = function(){ 
        var images = document.getElementsByTagName('img'); 
        var pos = 0; 
        var len = images.length; 
        setInterval(function(){ 
            images[pos].style.display = 'none';   /*设置索引为0的图片（就是第一张）样式为dislay：none；*/
            pos = ++pos == len ? 0 : pos; /*如果索引值 == 你所添加图片的数量就把索引值设置为0，如果不等于就把自加后的索引值 赋给pos； */
            images[pos].style.display = 'inline';   /*显示图片*/ 
        },3000); 
    }; 

</script>